Utilities/EAMISvsTestClient/EAMITestClient/Service References/EAMISvcRef/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://dhcsintranet/EAMI/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dhcsintranet/EAMI/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dhcsintranet/EAMI/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OHC.EAMI.Service/EAMIServiceOperations/?xsd=xsd0" namespace="http://dhcsintranet/EAMI/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OHC.EAMI.Service/EAMIServiceOperations/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OHC.EAMI.Service/EAMIServiceOperations/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OHC.EAMI.ServiceContract" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OHC.EAMI.Service/EAMIServiceOperations/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEAMIServiceOperations_EAMIPaymentSubmission_InputMessage">
    <wsdl:part name="parameters" element="tns:EAMIPaymentSubmission" />
  </wsdl:message>
  <wsdl:message name="IEAMIServiceOperations_EAMIPaymentSubmission_OutputMessage">
    <wsdl:part name="parameters" element="tns:EAMIPaymentSubmissionResponse" />
  </wsdl:message>
  <wsdl:message name="IEAMIServiceOperations_EAMIPaymentStatusInquiry_InputMessage">
    <wsdl:part name="parameters" element="tns:EAMIPaymentStatusInquiry" />
  </wsdl:message>
  <wsdl:message name="IEAMIServiceOperations_EAMIPaymentStatusInquiry_OutputMessage">
    <wsdl:part name="parameters" element="tns:EAMIPaymentStatusInquiryResponse" />
  </wsdl:message>
  <wsdl:message name="IEAMIServiceOperations_EAMIRejectedPaymentInquiry_InputMessage">
    <wsdl:part name="parameters" element="tns:EAMIRejectedPaymentInquiry" />
  </wsdl:message>
  <wsdl:message name="IEAMIServiceOperations_EAMIRejectedPaymentInquiry_OutputMessage">
    <wsdl:part name="parameters" element="tns:EAMIRejectedPaymentInquiryResponse" />
  </wsdl:message>
  <wsdl:message name="IEAMIServiceOperations_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IEAMIServiceOperations_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="IEAMIServiceOperations">
    <wsdl:operation name="EAMIPaymentSubmission">
      <wsdl:input wsaw:Action="http://dhcsintranet/EAMI/IEAMIServiceOperations/EAMIPaymentSubmission" message="tns:IEAMIServiceOperations_EAMIPaymentSubmission_InputMessage" />
      <wsdl:output wsaw:Action="http://dhcsintranet/EAMI/IEAMIServiceOperations/EAMIPaymentSubmissionResponse" message="tns:IEAMIServiceOperations_EAMIPaymentSubmission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EAMIPaymentStatusInquiry">
      <wsdl:input wsaw:Action="http://dhcsintranet/EAMI/IEAMIServiceOperations/EAMIPaymentStatusInquiry" message="tns:IEAMIServiceOperations_EAMIPaymentStatusInquiry_InputMessage" />
      <wsdl:output wsaw:Action="http://dhcsintranet/EAMI/IEAMIServiceOperations/EAMIPaymentStatusInquiryResponse" message="tns:IEAMIServiceOperations_EAMIPaymentStatusInquiry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EAMIRejectedPaymentInquiry">
      <wsdl:input wsaw:Action="http://dhcsintranet/EAMI/IEAMIServiceOperations/EAMIRejectedPaymentInquiry" message="tns:IEAMIServiceOperations_EAMIRejectedPaymentInquiry_InputMessage" />
      <wsdl:output wsaw:Action="http://dhcsintranet/EAMI/IEAMIServiceOperations/EAMIRejectedPaymentInquiryResponse" message="tns:IEAMIServiceOperations_EAMIRejectedPaymentInquiry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://dhcsintranet/EAMI/IEAMIServiceOperations/Ping" message="tns:IEAMIServiceOperations_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://dhcsintranet/EAMI/IEAMIServiceOperations/PingResponse" message="tns:IEAMIServiceOperations_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>