Utilities/EAMISvsTestClient/EAMITestClient/Service References/EAMISvcRef/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dhcsintranet/EAMI/" elementFormDefault="qualified" targetNamespace="http://dhcsintranet/EAMI/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OHC.EAMI.Service/EAMIServiceOperations/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OHC.EAMI.ServiceContract" />
  <xs:element name="EAMIPaymentSubmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OHC.EAMI.ServiceContract" minOccurs="0" name="request" nillable="true" type="q1:PaymentSubmissionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EAMIPaymentSubmissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OHC.EAMI.ServiceContract" minOccurs="0" name="EAMIPaymentSubmissionResult" nillable="true" type="q2:PaymentSubmissionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EAMIPaymentStatusInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OHC.EAMI.ServiceContract" minOccurs="0" name="request" nillable="true" type="q3:PaymentStatusInquiryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EAMIPaymentStatusInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OHC.EAMI.ServiceContract" minOccurs="0" name="EAMIPaymentStatusInquiryResult" nillable="true" type="q4:PaymentStatusInquiryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EAMIRejectedPaymentInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OHC.EAMI.ServiceContract" minOccurs="0" name="request" nillable="true" type="q5:RejectedPaymentInquiryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EAMIRejectedPaymentInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OHC.EAMI.ServiceContract" minOccurs="0" name="EAMIRejectedPaymentInquiryResult" nillable="true" type="q6:RejectedPaymentInquiryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OHC.EAMI.ServiceContract" minOccurs="0" name="request" nillable="true" type="q7:PingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OHC.EAMI.ServiceContract" minOccurs="0" name="PingResult" nillable="true" type="q8:PingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>